.main {
    background-color: #FFF9F2;
    /*color: white*/

}
/*
body {
    color: white
    background-color: lightgoldenrodyellow;
}

div[role="listbox"] ul {
    background-color: #CCDEFF;
}

div[data-baseweb="select"] > div {
    background-color: #F0FF0F;
}*/

